body {
}

.menu
{
    float:left;
    width:400px;
    height:90px;
    margin-left:200px;
    margin-top:50px;
}

.calendario
{
    float:left;
    width:600px;
    height:150px;
    margin-bottom:20px;
}

.bloque
{
    clear:both;
    width:1199px;
    height:150px;
    margin-top:20px;
    margin-bottom:20px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 2px;
    padding-bottom: 2px;
}

.cartel
{
    width:120px;
    height:160px;
    background-color:inherit;
    float:left;
    
}

.tamCartel
{
    width:115px;
    height:150px;
}

.titulo
{
    text-align:left;
    float:left;
    margin-left:10px;
    margin-top:65px;
    width:120px;
    color:#004080;
}

.fecha
{
    text-align:left;
    float:left;
    margin-left:40px;
    margin-top:65px;
    width:120px;
    color:#004080;
}

