/*#especInfo 
{
    overflow:hidden;
    margin-bottom: 30px;
}

#datosEspectaculo
{
    width: 550px;
    margin: 5px;
    float: left;
    list-style-type: none;
}

#datosEspectaculo li
{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.1em;
}

#datosEspectaculo li span
{
    font-weight: normal;
    color: Black;
    margin: 5px 0 0 5px;
    font-size: 0.905em;
}

img#imgEspectaculo
{
    float: right;
    width: 120px;
    border-radius: 5px;
}


#btnComprar 
{
    float: right;
    clear: both;
}

#especCompra 
{
    display: none;
    padding: 15px;
    -webkit-box-shadow: inset 0px 0px 20px silver;
    border-radius: 5px;  
    overflow: hidden;  
}

#confirmCompra 
{
    font-weight: bold;
    float: right;
}*/