#registro
{
    border-style: none;
    border-color: inherit;
    border-width: 10px;
    float:left;
    width: 992px;
    text-align: justify;
}

#registro input
{
    margin-top: 5px;
    margin-right: 5px;
    
}

#registro select
{
    margin-top: 5px; 
    margin-left: 5px;
    margin-right: 5px;  
}

#registro panel
{
    display:block;
    margin-bottom: 2px;   
}

#progress-count
{
    background-color: #0099FF;
    height: 100%;   
}

.direccion
{
    display:block;
}


.telefonos label
{
    margin-right: 1px;
}

.telefonos input
{
    margin-right: 2px;
}

.barraProceso
{
    background-color: White;
    border: 1px solid #CCCCCC;
    height: 16px;
    padding: 2px;
    margin-bottom: 7px;
    
}