body {
}

.bloque
{
    clear:both;
    height:150px;
    margin-top:20px;
    margin-bottom:20px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
}

.cartel
{
    width:120px;
    height:160px;
    background-color:inherit;
    float:left;
    
}

.tamCartel
{
    width:115px;
    height:150px;
}

.titulo
{
    text-align:left;
    float:left;
    margin-left:10px;
    margin-top:65px;
    color:#004080;
}

.fecha
{
    text-align:left;
    float:left;
    margin-left:40px;
    margin-top:65px;
    color:#004080;
}

#tipoEvento
{
    list-style-type:none;
    overflow:hidden;
    background-color:transparent;
    float:left;
    padding:5px;
    -webkit-box-shadow: inset 0px 0px 20px silver;
    border-radius:5px;
    margin-bottom:20px;
}

#tipoEvento li
{
    float: left;
    padding: 3px 20px 3px 20px;

}

#tipoEvento li+li
{
    border-left: 1px solid orange;
}

#tipoEvento li a
{
    color:Blue;
}

#tipoEvento li a:hover
{
    color:Fuchsia;
    text-decoration:none;
}

.tipoEventoSel
{
    text-decoration:underline;
}