body {
}

.menu
{
    float:left;
    width:600px;
    height:150px;
    margin-bottom:20px;
}

.calendario
{
    float:left;
    width:600px;
    height:150px;
    margin-bottom:20px;
}

.bloque
{
    clear:both;
    width:1195px;
    height:150px;
    margin-top:20px;
    margin-bottom:20px;
    border: 5px outset #cccccc;
}

.cartel
{
    width:120px;
    height:160px;
    background-color:inherit;
    float:left;
    
}

.tamCartel
{
    width:115px;
    height:150px;
}

.titulo
{
    text-align:left;
    float:left;
    margin-left:10px;
    margin-top:65px;
    width:120px;
    color:#004080;
}

.fecha
{
    text-align:left;
    float:left;
    margin-left:40px;
    margin-top:65px;
    width:120px;
    color:#004080;
}

