body {
}

.bloque
{
    clear:both;
    height:150px;
    margin-top:20px;
    margin-bottom:20px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
}

.cartel
{
    width:120px;
    height:160px;
    background-color:inherit;
    float:left;
    
}

.tamCartel
{
    width:115px;
    height:150px;
}

.titulo
{
    text-align:left;
    float:left;
    margin-left:10px;
    margin-top:65px;
    color:#004080;
}

.fecha
{
    text-align:left;
    float:left;
    margin-left:40px;
    margin-top:65px;
    color:#004080;
}

#tipoEvento
{
    list-style-type:none;
    overflow:hidden;
    background-color:transparent;
    width:38%;
    padding:5px;
    /*-webkit-box-shadow: inset 0px 0px 20px silver;*/
    -webkit-box-shadow: 2px 2px 5px black;
    border-radius:5px;
    margin-bottom:20px;
    margin-left:0px;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-weight:normal;   
    font-size:2em;  
    text-transform:capitalize;  
    line-height:1.2em;  
}

#tipoEvento li
{
    float: left;
    padding: 3px 20px 3px 20px;

}

#tipoEvento li+li
{
    border-left: 1px solid lightsteelblue;
}

#tipoEvento li a
{
    color:gray;
}

#tipoEvento li a:hover
{
    color:White;
    text-decoration:none;
}

.tipoEventoSel
{
    text-decoration:underline;
}

.well
{
    float:left;
    position:relative;
    width: 100%;
    height: auto;
    padding: 5px 0px 8px 5px;
}

.titulo_n
{
   margin: 0px 0px 5px 0px;
   color: #585858;
   border-bottom: 1px solid #58D3F7;
}

.titulo_n a 
{
    text-decoration: none
}

.poster_n
{
    float:left;
    position:relative;
    width:12%;
    margin: 20px 0px 0px 0px; 
    text-align:center;
}


.poster_n img 
{
    width: auto; 
    height: 170px;    
    margin: 0px 0px 20px 0px;
    box-shadow: 10px 10px 5px #888;
}

.descripcion_n
{
    margin: 20px 0px 0px 50px;
    float:left;
    position:relative;
    width:60%;
    font-size:14px;
    color: #6E6E6E;
    text-align: justify;
}

.boxContent
{
    margin: 0px 0px 10px 0px;
}