
.contact_label
{
    float:left;
    position:relative;
    
    display:block;
    width:150px;
}

.contact_imput_down
{
    width:151px;
}
.contact_textarea
{
    
    height:300px;
    width:600px;
   padding-right:5px;
   padding-top:5px;
   padding-bottom:5px;
    margin-bottom:5px;
}

.contact_bot_enviar
{
    width:75px;
}

.rank_help-inline
{
    color:#FF5400;
}
