/*#especInfo 
{
    overflow:hidden;
    margin-bottom: 30px;
}

#datosEspectaculo
{
    width: 550px;
    margin: 5px;
    float: left;
    list-style-type: none;
}

#datosEspectaculo li
{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.1em;
}

#datosEspectaculo li span
{
    font-weight: normal;
    color: Black;
    margin: 5px 0 0 5px;
    font-size: 0.905em;
}

img#imgEspectaculo
{
    float: right;
    width: 120px;
    border-radius: 5px;
}


#btnComprar 
{
    float: right;
    clear: both;
}
*/
#especCompra 
{
    display: none;
    padding: 15px;
    -webkit-box-shadow: inset 0px 0px 20px silver;
    border-radius: 5px;  
    overflow: hidden;  
}
/*
#confirmCompra 
{
    font-weight: bold;
    float: right;
}*/

#drawZone 
{
    overflow: hidden;
}

		
		
		.seccionBox {
			border: 1px solid silver;
			border-radius: 3px;
			float: left;
			overflow: hidden;
			margin: 10px;
			padding: 10px;
		}
		
		.asiento {
			float: left;
			margin: 2px;
			cursor: pointer;
		}
		


/*             styles for the star rater                */	
	.star-rating{
		list-style:none;
		margin: 0px;
		padding:0px;
		width: 125px;
		height: 25px;
		position: relative;
		overflow:hidden;
		background: url('../img/layout/stars.gif') top left repeat-x;		
	}
	.star-rating li{
		padding:0px;
		margin:0px;
		width:25px;
		height:25px;
		/*\*/
		float: left;
		/* */
	}
	.star-rating li a{
		display:block;
		width:25px;
		height: 25px;
		line-height:25px;		
		text-decoration: none;
		text-indent: -9000px;
		z-index: 20;
		position: absolute;
		padding: 0px;
		overflow:hidden;
	}
	.star-rating li a:hover{
		background: url('../img/layout/stars.gif') left bottom;
		z-index: 2;
		left: 0px;
		border:none;
	}
	.star-rating a.one-star{
		left: 0px;
	}
	.star-rating a.one-star:hover{
		width:25px;
	}
	.star-rating a.two-stars{
		left:25px;
	}
	.star-rating a.two-stars:hover{
		width: 50px;
	}
	.star-rating a.three-stars{
		left: 50px;
	}
	.star-rating a.three-stars:hover{
		width: 75px;
	}
	.star-rating a.four-stars{
		left: 75px;
	}	
	.star-rating a.four-stars:hover{
		width: 100px;
	}
	.star-rating a.five-stars{
		left: 100px;
	}
	.star-rating a.five-stars:hover{
		width: 125px;
	}
	.star-rating li.current-rating{
		background: url('../img/layout/stars.gif') left center;
		position: absolute;
		height: 25px;
		display: block;
		text-indent: -9000px;
		z-index: 1;
	}
	
	/* remove halo effect in firefox   */
	a:active{
		outline: none;
	}		
		


.criticaEsp
{
    margin: 0px 0 10px 0;
    padding: 20px 0 10px 0;
    overflow: hidden;
    list-style-type: none;
}

.criticaEsp + .criticaEsp 
{
    border-top: 1px dashed silver;
}

.criticaEsp .avatar-box {
    float: left;
    margin-right: 10px;
}

.criticaEsp .avatar-box img{
    width: 50px;
    height: 50px;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.criticaEsp .content {
    margin-left: 78px;
}

.criticaEsp .critica-info p {
    font-weight: bold;
}
