.boxContent
{
    /*margin-bottom: 0px 0px 10px 0px;*/
}

.titulo_n
{
   margin: 0px 0px 5px 0px;
   color: #585858;
   border-bottom: 1px solid #FE9A2E;
   width: 90%;
}

.titulo_n a 
{
    text-decoration: none
}

.poster_n
{
    float:left;
    position:relative;
    width:15%;
    margin: 20px 0px 0px 0px; 
    text-align:center;
}


.poster_n img 
{
    width: 170px; 
    height: 150px;    
    margin: 0px 0px 20px 0px;
    box-shadow: 0px 0px 10px #888;
}

.descripcion_n
{
    margin: 20px 5px 0px 50px;
    float:left;
    position:relative;
    width:60%;
    font-size:14px;
    color: #6E6E6E;
    text-align: justify;
}

.social_n
{
    width: 90%;
    float: left;
    position: relative;
    margin: 70px 0px 0px 30px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
}

.socialBox
{
    margin: 0px 0px 0px 0px;
    float: right;
    width: 60%;
    text-align:center;
    position: relative;
}

.carousel img
{
    height: 300px;
    width: 100%;
}

.carousel
{
    padding: 2px 2px 2px 2px;
    border: 1px solid white;
}

#noticia
{
    margin: 0px 0px 10px 0px;
}

.detailBox
{
    float:left;
    position: relative;
    width: 15%;
    text-align:center;
}

.verticalBanner
{
    border: 1px solid #eeeeee;
    margin: 0px 0px 10px 0px;
    width: 210px;
    text-align:right;
    float:right;
    
}

.verticalBanner img
{
    width: 210px;
    height:auto;
    text-align:center;
}

#barraLat
{
    margin: 0px 0px 0px 0px;
}