/* Reseteo de margin y padding */
* {
	margin: 0;
	padding: 0;
}

img.info-icon {
	padding-top: 10px;
	width: 14px;
	height: 14px;
}

/* Estilo de los enlaces */
a,a:visited {
	color:#09F;
	text-decoration:none;
}

a:hover {
	color: #2ea8ff;
	text-decoration: underline;
}

a img {
    border:none;
}

form p {
	/*margin: 5px;*/
}

fieldset {
	margin: 0;
	border: 0;
}

legend {
	display:none;
}

table {
	text-align: center;
}

/* Aspecto de los inputs*/
/* PREGUNTAR SI SE PUEDE USAR */
input[type="submit"] {
	padding: 0 5px;
}

input[type="text"], input[type="password"], textarea {
	color: #5A5A5A;
	margin: 5px 2px;
	padding: 2px;
	border: 1px solid silver;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
	border: 1px solid gray;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border: 1px solid #09F;
	outline: none;
}

/* Alineacion de labels */
.tabled label {
	display: block;
	float: left;
	margin: 8px 10px 10px 0;
	text-align: right;
	width: 75px;
}

.tabled input {
	float: left;
	margin-bottom: 10px;
	width: 150px;
	display: block;
}

#loginForm p {
	clear: left;
}

body {
	overflow:auto;
	font-family: "Trebuchet Ms", Arial, Verdana, Georgia, sans-serif;
	text-align: center; /* Para centrar el div principal 'page' en IE la alineacion de texto debe ser centrada */
	vertical-align: top;
}

/* Estilos de la cabecera */
#cabecera {
	text-align: right; /* Correccion de la alineacion de texto centrada asignada para compatibilidad con IE */
	font-size: 0.75em;
	background: transparent url("../img/layout/imagenFondo.jpg") top left repeat-x;
	overflow: hidden;
}

#cabecera #logo {
	padding-left: 50px;
	margin-top: 20px;
}

#cabecera img, #cabecera h1 {
	float: left;
}

#loginForm {
	float: right;
	padding: 10px;
}

#loginForm input {
	margin-bottom: 0px;
}

#loginForm legend {
	text-align: right;
	color: #FFFFFF;
	font-weight: bold;
	display:block;
}

/* Barra de navegacion */
#navBar {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.9em;
	background-color: #333333;
	list-style-type:none;
	clear: both;
	overflow: hidden;
}

#navBar img {
	float: none;
}

#navBar li {
	float: left;
	padding: 8px 0;
	border-top: 2px solid #333333;
}

#navBar li a {
	color: white;
	border-right: 1px solid #3D3D3D;
	padding: 0 30px;
}

#navBar li.seleccion {
	border-top: 2px solid #09F;
}

#navBar li.icon {
	float: right;
}

#navBar li.icon a{
	padding: 0 10px 0 10px;
}

/* Envoltorio */
.wrap  {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	text-align: left; /* Correccion de la alineacion de texto centrada asignada para compatibilidad con IE */
}

/* Contenido principal*/
#main-content {
	width: 740px;
	overflow: hidden;
	float: left;
	padding-top: 20px;
}

/* Estilos de las cajas de contenido principal */
.content-box {
	font-size: 0.75em;
	background-color: white;
	background-image: url("../imagenes/content_bg.png");

	background-color: #FFFFFF;
	background-repeat: repeat-x;
	border: 1px solid #D9D9D9;
	margin-top: 10px;
	padding: 20px;
    overflow: hidden;
}

.content-box a:hover {
	text-decoration: underline;
}

.content-box h3 {
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	border-bottom: 1px solid #D9D9D9;
	margin-bottom: 20px;
	padding-bottom: 5px;
}

#introduccion {
	list-style-type:none;
}

#introduccion li {
	overflow: hidden;

	margin: 10px;
}

#introduccion .intro-title {
	font-size: 1.2em;
	color: gray;
	font-weight: bold;
	border-width:  0 0  1px 1px;
	border-style: dotted;
	border-color: silver;
	padding: 2px 10px;
}

#introduccion .intro-title img {
	float: right;
	width: 16px;
	height:16px;
}

#introduccion .intro-contenido  {
	padding: 5px 20px;
	color: #9C9C9C;
}

/* Estilos en el formulario de registro */
#loginForm .errorMsj,#registroForm .errorMsj {
	color: red;
}


/* Informacion detallada de una foto */
.infoDetallada img {
	padding: 3px;
	border: 1px solid silver;
	float: right;
	max-width: 400px;
}

/* Listado de datos en detalles de foto
y datos de usuario */
.infoDetallada, #datosUsuario {
	list-style-type:none;
}

.infoDetallada li {
	margin: 10px 20px;
}

#datosUsuario li {
	margin: 5px 20px;
}

#datosUsuario img {
	float: right;
	padding: 3px;
	border: 1px solid silver;
	width: 60px;
	height: 60px;
}

.infoFoto:hover {
	background-color: #F0FFFF;
	border: 1px dashed silver;
}

.infoFoto .tituloFoto {
	font-weight: bold;
}

.infoFoto img {
	padding: 3px 3px 20px 3px;
	border: 1px solid silver;
}

/* Informacion detallada de una foto */
.infoDetallada img {
	padding: 3px;
	border: 1px solid silver;
}

/* Barra lateral */
#sidebar {
	font-size: 0.75em;
	float: left;
	padding: 0 0 0 10px;
	padding-top: 30px;
	width: 210px;
	float: left;
}

/* Caja de contenido de la barra lateral */
#sidebar .sidebar-box {
	background-color: white;
	background-image: url("../imagenes/content_bg.png");

	background-color: #FFFFFF;
	background-repeat: repeat-x;
	border: 1px solid #D9D9D9;
	margin-bottom: 10px;
	padding: 10px 7px 10px 10px;
	overflow: hidden;
}

.sidebar-box ul {
	text-align: left; /* Correccion de la alineacion de texto centrada asignada para compatibilidad con IE */
	list-style-type: none;
	margin-left: 0px;
	padding: 5px 0px 5px 5px;
}

.sidebar-box ol {
	text-align: left; /* Correccion de la alineacion de texto centrada asignada para compatibilidad con IE */
	margin-bottom: 10px;
	padding: 5px 0 0 40px;
}

.sidebar-box h3 {
	clear: both;
	color: gray;
	font-weight: bold;
	margin: 0 0 5px 0px;
	padding: 0 0 2px 5px;
	width: 90%;
	border-bottom: 1px solid #D4D4D4;
}

.sidebar-box li {
  padding: 3px 4px 3px 15px;

}

.sidebar-box .block-selector {
	font-size: 0.9em;
	color:gray;
	margin-top: 10px;
	float: right;
	clear: both;
	cursor: pointer;
}

.sidebar-box .block-selector .selected {
	color: orange;
}

#ultimas li {
	float: left;
	list-style-type:none;
	margin: 0px 10px;
}

#ultimas li img{
	float: left;
	padding: 3px 3px 20px 3px;
	border: 1px solid silver;
	max-width: 121px;
	max-height:150px;
}

#ultimas li ul {
	display: none;
	position: absolute;
	background-image: url('../imagenes/trans.png');
	border: 1px solid silver;
	z-index: 70;
	min-width: 180px;
}

#ultimas li:hover ul {
	display: block;
}

#ultimas li ul li {
	float: none;
	margin-top: 10px;
}
#ultimas li ul li p{
	font-weight: bold;
	clear: both;
}

.imageBlock {
	color: gray;
	overflow: hidden;
}

.imageBlock:hover{
	background-color: #F0FFFF;
}

.imageBlock a {
	color: gray;

}

.imageBlock a:hover {
	text-decoration: underline;

}

.imageBlock img.thumb {
	width: 30px;
	height: 30px;
	padding: 1px;
	border: 1px solid silver;
	float: left;
	clear: left;
	margin: 0px 5px 5px 0;


}

/* Pie de pagina */
#pieDePagina {
	margin-top: 20px;
	background-color: #7B7B7B;
	text-align: center;
	padding: 5px;
	border-top: 3px solid #333333;
	overflow: hidden;
}




#f-inner {
	color: #E7E5E5;
	text-align: left; /* Correccion de la alineacion de texto centrada asignada para compatibilidad con IE */
	margin: auto;
	padding: 5px 0;
	clear: both;
	width: 800px;
	overflow: hidden;
}

#pieDePagina h2 {
	color: white;
	font-size: 0.95em;
	text-align: left;
	padding: 5px 0;
	border-bottom: 1px solid #565656;
	margin-bottom: 2px;
}

#pieDePagina ul {
	list-style-type: none;
	margin: 0 10px;
	padding: 0;
}

#pieDePagina li {
	line-height: 15px;
}

#pieDePagina a {
	color: #D4D4D4;
	text-decoration: none;
	font-size: 0.7em;
}

#pieDePagina a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

#fcol1 {
	float: left;
	border-left: 1px solid #565656;
	border-right: 1px solid #565656;
	padding: 0 20px;
	width: 28%;
}

#fcol2 {
	float: left;
	padding: 0 20px;
	width: 28%;
}

#fcol3 {
	float: left;
	border-left: 1px solid #565656;
	border-right: 1px solid #565656;
	padding: 0 20px;
	width: 28%;
}


#pieDePagina #valid-icons {
	float: right;
}






















td {padding: 0 30px;}

th.order-selector {cursor: pointer;}

th.order-selector img {margin-left: 5px;}
