.rank_fila
{
    background-color:White;
    list-style:none;
    float:left;
    position:relative;
    width: 100%;
    height: auto;
    margin: 2px 20px 10px 4px;
    border-radius: 5px;
    border:1px solid #E6E6E6;
    -moz-border-radius: 5px;
    padding: 5px 0px 8px 5px;
}
.rank_img
{
    border-radius: 5px;
    float:left;
    position:relative;
    width:100px;
    height:100px;
}
.rank_tit
{
    margin-top:45px;
    font-size:40px;
    text-align:center;
}

.rank_nota
{
    padding-right:10px;
    font-size:40px;
    float:right;
}