#registro
{
    border-style: none;
    border-color: inherit;
    border-width: 10px;
    float:left;
    width: 992px;
    text-align: justify;
}

#registro input
{
    margin-top: 5px;
    
}

#registro select
{
    margin-top: 5px;   
}