<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Events4ALL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>


  <appSettings>
    <add key="DataDirectory" value="..\..\..\WEvents4ALL\App_Data"/>
  </appSettings>

  <connectionStrings>
    <add name="Events4ALL.Properties.Settings.Events4AllDBConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Events4AllDB.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <applicationSettings>
    <Events4ALL.Properties.Settings>
      <setting name="Lenguaje" serializeAs="String">
        <value>es</value>
      </setting>
    </Events4ALL.Properties.Settings>
  </applicationSettings>
</configuration>